/* COLORES:
#463f3a (MARRON OSC)
#8a817c (MARRON CLARO)
#bcb8b1 (BEIGE OSC)
#f4f3ee (BEIGE)
#e0afa0 (SALMON)
 */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main .grid-container-card .card .card-body .card-text {
  text-align: center;
  font-size: 15px; }

main .grid-container-card .card .card-body .boton {
  background-color: #bcb8b1;
  padding: 0.75rem;
  border-width: 1rem;
  border-radius: 0.375rem;
  display: inline-block;
  color: #463f3a;
  font-weight: bold;
  text-decoration: none;
  text-align: center; }

.main-index .img-index .container-index .content .h1-index {
  color: #ebedee;
  font-size: 15px; }

.main-index .quien-soy .presentacion {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: justify;
  margin: 10px; }

main .accordion .accordion-item .accordion-collapse .accordion-body {
  font-size: 15px;
  color: #463f3a; }

.main-contacto h3 {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin: 10px; }

.header {
  position: sticky;
  top: 0;
  z-index: 5; }
  .header__fondoColor {
    background-color: #bcb8b1b8; }
    .header__fondoColor a {
      color: #463f3a;
      text-decoration: none;
      font-weight: bold;
      font-size: 15px; }
      .header__fondoColor a:hover {
        color: #f4f3ee;
        font-weight: bolder;
        font-size: 25px; }
  .header__logo {
    height: 100px; }
  .header__icono {
    background-color: transparent;
    transition: var(--bs-navbar-toggler-transition);
    color: #463f3a;
    text-decoration: none;
    font-size: 25px;
    border: none; }

.footer {
  background-color: #bcb8b1;
  min-height: 15vh;
  text-align: center; }
  .footer__grid {
    display: grid;
    list-style: none;
    align-items: center;
    margin: 0px;
    list-style: none; }
    .footer__grid .col-container h4 {
      color: #463f3a;
      text-decoration: underline; }
    .footer__grid .col-container__ul {
      display: flex;
      justify-content: center;
      padding: 0px;
      text-decoration: none;
      list-style: none; }
      .footer__grid .col-container__ul li {
        margin-top: 5px; }
        .footer__grid .col-container__ul li i {
          color: #463f3a;
          font-size: 1.5rem;
          margin: 5px;
          text-decoration: none; }

h1 {
  color: #463f3a;
  text-align: center;
  padding: 7px;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  font-weight: bold; }

.h2 {
  font-family: "Dancing Script", cursive;
  color: #8a7e7c;
  text-align: center;
  margin: 40PX;
  text-decoration: underline; }

main {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); }

.main-index .img-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .main-index .img-index .container-index {
    position: relative; }
    .main-index .img-index .container-index img {
      width: 170px;
      padding: 5px; }
    .main-index .img-index .container-index .content {
      position: absolute;
      bottom: 0;
      background: #463f3a7c;
      color: #f1f1f1;
      width: 100%;
      height: 20%; }

.main-index .quien-soy {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .main-index .quien-soy .fotoJimena {
    margin: 50px; }

main .grid-container-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around; }
  main .grid-container-card .card .card-body {
    display: flex;
    flex-direction: column; }
    main .grid-container-card .card .card-body .card-title {
      font-size: 20px;
      color: #463f3a;
      text-align: center;
      font-weight: bolder; }
    main .grid-container-card .card .card-body .boton:hover {
      color: #ebedee; }

.main-galeria .img-galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .main-galeria .img-galeria .container {
    position: relative; }
    .main-galeria .img-galeria .container .overlay {
      position: absolute;
      bottom: 0;
      background: #463f3a87;
      color: #f1f1f1;
      width: 95%;
      transition: .5s ease;
      opacity: 0;
      color: white;
      font-size: 20px;
      padding: 20px;
      text-align: center; }
      .main-galeria .img-galeria .container .overlay:hover {
        opacity: 1; }
    .main-galeria .img-galeria .container:hover {
      opacity: 1; }

.main-galeria .video {
  width: 100%; }

main .banner {
  width: 100%;
  margin: 0%;
  margin-bottom: 10px; }

main .accordion .accordion-item .accordion-header .accordion-button-faq {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  font-size: 1rem;
  color: #463f3a;
  text-align: left;
  background-color: white;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition); }
  main .accordion .accordion-item .accordion-header .accordion-button-faq::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition); }
  main .accordion .accordion-item .accordion-header .accordion-button-faq:not(.collapsed) {
    color: white;
    background-color: #8a817c;
    box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
    font-weight: bold; }

main .accordion .accordion-item .accordion-collapse .accordion-body strong a {
  text-decoration: none;
  color: #463f3a; }

.main-contacto .contacto {
  font-size: 20px;
  color: #463f3a;
  text-align: center;
  font-weight: text-align; }

.main-contacto form {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main-contacto form .texto-contacto {
    font-size: 15px;
    color: #463f3a; }
  .main-contacto form input {
    width: 90%;
    margin: 10px; }
    .main-contacto form input::placeholder {
      text-align: center; }
  .main-contacto form textarea {
    width: 90%;
    margin: 10px; }
    .main-contacto form textarea::placeholder {
      text-align: center; }
  .main-contacto form textarea:focus,
  .main-contacto form input:focus,
  .main-contacto form input[type]:focus {
    border-color: #463f3a;
    border: 5px;
    box-shadow: 0 1px 1px #8a817c, 0 0 8px #8a817c;
    outline: 0 none; }
  .main-contacto form label {
    font-size: 18px;
    font-weight: bold; }
  .main-contacto form .opcion {
    margin: 5px;
    font-size: 20px;
    font-weight: bolder;
    color: #463f3a; }
    .main-contacto form .opcion:hover {
      font-size: 22px;
      background-color: #8a817c;
      color: white; }

.main-contacto .imagen-redes {
  display: flex;
  justify-content: center; }
  .main-contacto .imagen-redes a {
    color: #463f3a;
    font-size: 3rem;
    margin: 5px; }
    .main-contacto .imagen-redes a:hover {
      font-size: 3.2rem; }

@media (min-width: 768px) {
  /* header */
  .header a {
    font-size: 20px; }
    .header a:hover {
      font-size: 25px; }
  .header__logo {
    height: 120px; }
  /* footer */
  .footer__grid {
    grid-template-columns: repeat(3, 1fr); }
  /*  html index */
  .main-index .img-index {
    justify-content: center; }
    .main-index .img-index .container-index img {
      width: 270px;
      margin: 0px; }
    .main-index .img-index .container-index .content .h1-index {
      color: #ebedee;
      font-size: 22px; }
  .main-index .quien-soy {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around; }
    .main-index .quien-soy .presentacion {
      font-size: 20px; }
  /* html productos */
  main .grid-container-card {
    width: 48rem;
    justify-content: space-around; }
  /*  html galeria */
  .main-galeria .grid-container-galeria {
    display: grid;
    max-width: 850px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch; }
  /* html faq */
  .accordion .accordion-item .accordion-header .accordion-button-faq {
    font-size: 23px; }
  .accordion .accordion-item .accordion-collapse .accordion-body {
    font-size: 20px; }
  /* html contacto */
  .main-contacto h3 {
    font-size: 25px; }
  .main-contacto form .texto-contacto {
    font-size: 18px; }
  .main-contacto .imagen-redes .i-contacto {
    font-size: 3.4rem; }
    .main-contacto .imagen-redes .i-contacto:hover {
      font-size: 3.8rem; } }

@media (min-width: 1024px) {
  /* header */
  .header__logo {
    height: 150px; }
  /*  html index */
  .main-index .img-index .container-index img {
    width: 400px; }
  .main-index .img-index .container-index .h1-index {
    color: #ebedee;
    font-size: 25px; }
  .main-index .quien-soy .presentacion {
    text-align: center;
    padding: 10px; }
  /* html productos */
  main .grid-container-card {
    width: 64rem; }
  /* html galeria */
  .main-galeria .grid-container-galeria {
    max-width: 1300px; }
  /* html contacto */
  .main-contacto .contacto {
    font-size: 30px; }
  .main-contacto h3 {
    font-size: 30px; }
  .main-contacto form .texto-contacto {
    font-size: 20px;
    margin: 5px; }
  .main-contacto form .opcion {
    font-size: 23px; }
    .main-contacto form .opcion:hover {
      font-size: 25px; }
  .main-contacto .imagen-redes .i-contacto {
    font-size: 3.8rem; }
    .main-contacto .imagen-redes .i-contacto:hover {
      font-size: 4rem; } }
