.main-galeria {
    .img-galeria {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .container {
            position: relative;

            .overlay {
                position: absolute;
                bottom: 0;
                background: #463f3a87;
                color: #f1f1f1;
                width: 95%;
                transition: .5s ease;
                opacity: 0;
                color: white;
                font-size: 20px;
                padding: 20px;
                text-align: center;

                &:hover {
                    opacity: 1;
                }
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    .video {
        width: 100%;
    }
}