//TODOS LOS H1
h1{
    color: #463f3a;
    text-align: center;
    padding: 7px;
    font-family:$cursiva;
    font-size: 30px;
    font-weight: bold;
}

//TODOS LOS H2
.h2 {
    font-family: $cursiva;
    color: #8a7e7c;
    text-align: center;
    margin: 40PX;
    text-decoration: underline;
}